html,
body {
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

#main-content {
    margin: 15px;
    margin-top: 116px;
}

.monero-theme-primary {
    color: white;
}

.monero-theme-secondary {
    color: #ff6600;
}

.nav {
    position: fixed;
    display: flex;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    height: 96px;
    width: 100%;
    background: #181818;
}

.theme-transition {
    transition: .3s;
}

.cover {
    background: #404040;
}

.size-pfp {
    width: 32px;
    height: 32px;
    border: 2px solid#484848;
}

.round {
    border-radius: 50%;
}

.nav .logo {
    margin-left: 32px;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.nav .wallet-input {
    color: gainsboro;
    height: 28px;
    width: 370px;
    text-align: center;
    position: absolute;
    right: 75px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 2px;
    background: #282828;
    outline: none;
    transition: .3s;
}

.bold {
    font-weight: bold;
}